<!DOCTYPE html>
<html>
<head>
<style>

table,th,td{
border:1px solid black;
    
}
table{
 border-collapse:collapse;
 width:50%
}
</style>
</head>
<body>
<h1 class="main-title">Area</h1>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="list-location/">
            
            {% csrf_token %}
            {{ add_form }}
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Add">
            <br>
        </form>
    </div>
<section name="my-friend" id="my-friend">
    
        <h2 class="my-friend-title">Area List</h2>

            {% csrf_token %}
           
         <table class="table">
        <thead>
            <th>Area</th>
            <th>Location</th>
            
        </thead>
        <tbody>
            <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
            {% for i in listlocation %}
            {% if listlocation %}
            
                
                <td> {{i.Area}} </td>
                <td> {{i.Location}} </td>
                
            </tr>  
            {% else %}  
            {% endif %}          
            {% endfor %}
        </tbody>
    </table>
    <br/>
    <a href="list-worker/">Next<a>
           </section> 
           </body>
           